<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064241592507-pkuscaeb66mapisv65buuabnopcvnn86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064241592507-pkuscaeb66mapisv65buuabnopcvnn86</string>
	<key>API_KEY</key>
	<string>AIzaSyALIhO9TebLll9dwzyM-N3omaKwA8nryW4</string>
	<key>GCM_SENDER_ID</key>
	<string>1064241592507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningLounge</string>
	<key>PROJECT_ID</key>
	<string>learninglounge-48809</string>
	<key>STORAGE_BUCKET</key>
	<string>learninglounge-48809.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064241592507:ios:1b0a74b50dc5d04aa2919e</string>
	<key>DATABASE_URL</key>
	<string>https://learninglounge-48809-default-rtdb.firebaseio.com</string>
</dict>
</plist>